{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 2018,
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    },
    "globals": {
      "document": true,
      "window": true,
      "location": true
    },
    "rules": {
      "linebreak-style": ["error", "windows"],
      "no-underscore-dangle": 0,
      "no-continue": 0,
      "no-plusplus": 0,
      "no-console": 0,
      "no-bitwise": 0

    },
    "env": {
      "node": true,
      "mocha": true
    }
}
